@tailwind base;
@tailwind components;
@tailwind utilities;
 
:root {

  --primary : #4AA8FF;
  --Secondary :#030408;
  --background : #000000;
  --chat-background : #060A16;
  --border:#2161C0;
  --scrollbar-track-color: #f2f2f2;
  --scrollbar-thumb-color: #888888;
}


body {
  color: var(--primary);
  background-color: var(--background);
}

 

/* Apply custom scrollbar styles */
::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--chat-background);
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}

/* Handle hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(63, 125, 152);
}


input::-webkit-input-placeholder {
  color: inherit;
  opacity: 1;
}

/* Remove webkit input speech button styles */
input::-webkit-input-speech-button {
  display: none;
}

/* Remove webkit search input styles */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}